nav{
  text-align: center;
}

h1, h2 {
	text-align: center;
	padding: 2%;
}

img {
	width: 90%;
	max-width: 800px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

table {
	margin-left: auto;
    margin-right: auto;
}

input, select {
	height: 2em;
	width: 15em;
	font-weight: normal;
}

label {
	font-weight: bold;
}

footer {
	text-align: center;
	margin: 2em;
}

.w3-container {
	width: 90%;
	margin-left: auto;
    margin-right: auto;
}

.reservations {
	width: 50%;
	float:left;
	text-align: center;
}

.review-text {
	text-align: right;
	font-weight: bold;
	font-style: italic;
}

.review-name {
	text-align: right;
}

#map {
	margin-left: auto;
    margin-right: auto;
}

